@import "../varsUI";
@import "../mixinsUI";

.btn {
  @include border-node;
  font-size: 15px;
  cursor: pointer;
  margin: 10px;

  color: white;

  a {
    text-decoration: none;
    color: white;
  }


  &.btn-success {
    background: $success;

    &:hover {
      background: lighten($success, 7%);
    }

    &:active {
      box-shadow: none;
    }
  }

  &.btn-danger {
    background: $danger;

    &:hover {
      background: lighten($danger, 7%);
    }

    &:active {
      box-shadow: none;
    }
  }

  &.btn-secondary {
    background: $secondary;

    &:hover {
      background: lighten($secondary, 7%);
    }

    &:active {
      box-shadow: none;
    }
  }

  &.btn-primary {
    background: $primary;

    &:hover {
      background: lighten($primary, 7%);
    }

    &:active {
      box-shadow: none;
    }
  }

  &.btn-warning {
    background: $warning;

    &:hover {
      background: lighten($warning, 7%);
    }

    &:active {
      box-shadow: none;
    }
  }

}